.content {
    padding: 16px;
}

.content > mat-card {
    width: 200px;
}
:host ::ng-deep .mat-button-toggle-label-content{
    /* position: fixed; */
    /* z-index: 1000; */
    /* display: flex;
    justify-content: center;
    align-items: end;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    left: 0; */
    color: #3f51b5;
}