:host ::ng-deep .card-avatar{
    height: 40px;
    width: 40px;
}

.example-card {
    max-width: 400px;
  }

  .aligned-with-icon{
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 10px;
  }
  .perday{
    color: green;
  }

  .cancel{
    font-size: 11px;
  }