:host ::ng-deep .card-avatar{
    height: 40px;
    width: 40px;
}

.example-card {
    max-width: 400px;
  }

  .aligned-with-icon{
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 10px;
  }
  .perday{
    color: var(--pricing);
    font-weight: bold;
  }

  .cancel{
    font-size: 11px;
  }

  mat-card-title{
    color: var(--primary-text);
    
  }
  mat-card-subtitle{
    color: var(--secondary-text);
    font-size: 14px;
  }