

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/
.button i.material-icons {
  color: var(--neutral);
}

.query{
  color: var(--neutral);
  margin: 0 auto;
  text-align: center;
}

.query1{
  color: #fff;
}