<ng-container *ngIf="(title$ | async) as title">
  <div class="topBar" *ngIf="title === 'Travtor'; else temp">
    <a class="button"><i class="material-icons"> menu </i></a>
    
    <a [routerLink]="['/']">
      <h2>{{ title }}</h2>
    </a>
    <div class="query" *ngIf="(searchQuery$ |async ) as query">
      {{query?.search?.pick_up_location}}
      {{query?.search?.pick_up_date | date:'MMM d,'}}  {{query?.search?.pick_up_time}} - {{query?.search?.drop_off_date | date:'MMM d,'}} {{query?.search?.drop_off_time}}
    </div>
  </div>
  
  <ng-template #temp>
      <a class="button" [routerLink]="['/cars']"><i class="material-icons"> arrow_back</i></a>
      
      <a [routerLink]="['/']">
        <h2>{{ title }}</h2>
      </a>
  </ng-template>
</ng-container>

<a class="button"><i class="material-icons">shopping_cart</i></a>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
